* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px black solid; */
  font-family: Helvetica;
}

body {
  background-color: blue;
  height: 300vh;
}

.navbar-link.another-class {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  margin: 50px;

  /* background-color: black; */
}

.head {
  width: 100%;
  /* border: black solid 2px; */
  /* margin: 3px; */

  background-image: url("/images/aboutme.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  /* background-attachment: local; */
  height: 100vh;
  margin-bottom: 20px;
}

.bio {
  background-color: white;
}
