@font-face {
  src: url(/Fonts/Lato/Lato-Light.ttf);
  font-family: latothin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("/images/aboutme.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#navbar {
  /* background-image: url("/images/aboutme.jpg"); */
}

.topdiv {
  /* background-color: blue; */
  /* background-image: url("/images/aboutme.jpg"); */
  text-align: center;
  height: 25vh;
  font-family: latothin;
  color: white;
}

.navbar-link.another-class {
  color: white;
}

.bio-container {
  background-color: white;
  height: 60vh;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: darkblue;
}
