@font-face {
  src: url(/Fonts/Helvetica/helvetica-rounded-bold-5871d05ead8de.otf);
  font-family: test1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.magic {
  font-family: test1;
  font-size: 40px;
  font-weight: bold;
  color: #ffff;
  /* margin: 50px; */

  text-shadow: 20px 10px 7px black;
}
.test2 {
  font-family: ;
}
body {
  background-image: url("/images/IMG-20211014-WA0017.jpg");
  background-blend-mode: soft-light;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 50px;

  /* background-color: black; */
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  /* background-color: blue; */
  height: 100%;
  margin: 50px;
  overflow: hidden;
}

.image-tag {
  color: #ffff;
  font-size: 25px;
  transform: scale(1);
  transition: 0.6s;
}

.image-tag:hover {
  transform: scale(1.1);
  overflow: ;
}

.about-myself {
  width: 50%;
  /* border: black solid 2px; */
  margin: 3px;

  background-image: url("/images/aboutme.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  /* background-attachment: local; */
  height: 50vh;
  margin-bottom: 20px;
}

.portfolio {
  width: 45%;
  /* border: black solid 2px; */
  margin: 3px;
  background-image: url("/images/flaming\ eyes.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin-bottom: 20px;
}

.shop {
  width: 30%;
  /* border: black solid 2px; */
  margin: 4px;
  background-image: url("/images/hoodie\ Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  gap: 20px;
}

.hire-me {
  width: 30%;
  /* border: black solid 2px; */
  margin: 4px;
  background-image: url("/images/jewelry.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.insta {
  width: 30%;
  /* border: black solid 2px; */
  margin: 4px;
  background-image: url("/images/jewelry.png");
  background-size: contain;
  background-repeat: no-repeat;
}
